@media only screen and (max-width: 565px) and (min-width: 200px) {
  .main-container .left-options {
    flex: 0 0 9%;
    padding: 30px 5px;
  }
  .right-notes {
    padding: 35px 10px;
    flex: 0 0 60%;
    overflow-y: auto;
  }
  .note {
    height: calc(240px - 70px);
    width: calc(240px - 50px);
  }
  #notes-container{
    grid-template-columns: 1fr;
  }
}
